.auto-type {
  position: relative;
  height: 3.2rem;
  font-size: 2rem;
}
.typed-cursor {
  background-color: #ffff;
  color: #fff;
  height: 35px;
  transform: translate(-4px, -10px);
}

/* scroll to top */

.scroll-to-top-btn {
  background-color: var(--black);
  position: fixed;
  right: 1rem;
  bottom: 5rem;
  border-radius: 50%;
  transition: 0.3s;
  border: 2px solid var(--neutral-900);
  z-index: 100;
}
.scroll-to-top-btn:hover {
  background-color: var(--neutral-900);
}
.scroll-to-top-btn > * {
  aspect-ratio: 1;
  width: 3rem;
}
.scroll-to-top-btn[aria-hidden="true"] {
  opacity: 0;
  pointer-events: none;
}

/* overlay */

.overlay {
  position: fixed;
  inset: 0;
  z-index: 1000;
  background: rgba(15, 25, 30, 0.6);
  backdrop-filter: blur(10px);
  cursor: pointer;
}
.overlay[aria-hidden="true"] {
  animation: overlay-closed 0.25s forwards ease-in-out;
}
@keyframes overlay-closed {
  from {
    opacity: 1;
    pointer-events: visible;
  }
  to {
    opacity: 0;
    pointer-events: none;
  }
}
.overlay[aria-hidden="false"] {
  animation: overlay-open 0.25s forwards ease-in-out;
}
@keyframes overlay-open {
  from {
    opacity: 0;
    pointer-events: none;
  }
  to {
    opacity: 1;
    pointer-events: visible;
  }
}

/* skillset modal */

.skillset-modal {
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 1002;
  background-color: rgba(38, 47, 53, 0.8);
  border-radius: 5px;
  backdrop-filter: blur(5px);
  padding: 5vw;
  width: 84vw;
  max-width: max-content;
}
.skillset-modal .work--subheading::after {
  width: 100%;
}
.skillset-modal[aria-hidden="true"] {
  opacity: 0;
  pointer-events: none;
  animation: close-skillset 0.3s forwards;
}
@keyframes close-skillset {
  from {
    opacity: 1;
    pointer-events: visible;
  }
  to {
    opacity: 0;
    pointer-events: none;
  }
}
.skillset-modal[aria-hidden="false"] {
  transform-origin: center;
  opacity: 1;
  pointer-events: visible;
  animation: open-skillset 0.3s forwards;
}
@keyframes open-skillset {
  from {
    opacity: 0;
    pointer-events: none;
  }
  to {
    opacity: 1;
    pointer-events: visible;
  }
}
/* REVEAL ON SCROLL */
.left,
.right {
  opacity: 0;
  transition: 1s ease-out;
}
.right {
  transform: translateX(50%);
}
.left {
  transform: translateX(-50%);
}
.show-left-right {
  opacity: 1;
  transform: translateX(0);
}
