.blog-main .banner::after {
  background: none !important;
}
.blog__body {
  grid-template-columns: 1fr;
  gap: 2rem;
}
.blog__wrapper {
  position: relative;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: max-content;
  column-gap: 2rem;
  row-gap: 3rem;
}

@media (min-width: 36rem) {
  .blog__body {
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
  }
}

/* SINGLE BLOG PAGE */

.single-blog-main .p-text > * {
  color: var(--white);
}
.single-blog__heading {
  text-transform: capitalize;
}
.single-blog__wrapper {
}
